# Archivos compilados
*.class
*.jar
*.war
*.ear

# Directorio de salida
out/
bin/
build/
target/

# IDEs
.idea/
*.iml
.eclipse/
.project
.classpath
.settings/
*.suo
*.user

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
